#readme {
  border: solid 1px #ddd;
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
  background-color: whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

.general-info {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.texts {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

input[type="text"] {
  padding: 1rem;
}

textarea {
  padding: 1rem;
  height: 10rem;
  resize: none;
  flex: 1;
}

.stacks,
.features,
.gettingStartedFields,
.authors {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select {
  padding: 1rem;
}

.stack-groups>span {
  display: none;
}

#techName {
  flex: 1;
}

#techLink {
  flex: 2;
}

.inputField {
  flex: 1;
}